<div class="flex justify-center gap-3 pt-10">
    <button class="btn btn-neutral" (click)="get500Error()">Get 500 Error</button>
    <button class="btn btn-accent" (click)="get400Error()">Get 400 Error</button>
    <button class="btn btn-secondary" (click)="get401Error()">Get 401 Error</button>
    <button class="btn btn-success" (click)="get404Error()">Get 404 Error</button>
    <button class="btn btn-info" (click)="get400ValidationError()">Get 400 Validation Error</button>
</div>
@if (validationErrors().length > 0) {
    <div class="mt-10 p-5 border border-red-500 rounded">
        <h3 class="text-red-600 font-bold mb-3">Validation Errors:</h3>
        <ul class="list-disc list-inside">
            @for (error of validationErrors();track $index) {
                <li>{{ error }}</li>
            }
        </ul>
    </div>
}
