@if (photos$ | async; as photos){
    @if (photos.length > 0){
        <div class="grid grid-cols-5 auto-rows-min gap-3 p-5 h-[65vh] overflow-y-auto">
            @for ( photo of photos; track photo.id){
                <div class="relative group">
                    <img src="{{photo.url}}" alt="Photo of member" class="w-full rounded-lg " />

                </div>
            }
            @for ( photo of photoMocks; track $index){
                <div class="relative group">
                    <img src="{{photo}}" alt="Photo of member" class="w-full rounded-lg " />

                </div>
            }
        </div>
    }
}
